{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    "babel-plugin-styled-components"
  ],
  "env": {
    "production": {
      "plugins": [
        ["babel-plugin-styled-components", {
          "displayName": false,
          "minify": true,
          "transpileTemplateLiterals": true
        }]
      ]
    }
  }
}
